[sssd]
domains = {{ sssd_ad_realm }}
config_file_version = 2
services = nss, pam

[domain/{{ sssd_ad_realm }}]
default_shell = /bin/bash
krb5_store_password_if_offline = True
cache_credentials = True
krb5_realm = {{ sssd_ad_realm|upper }}
realmd_tags = manages-system joined-with-adcli 
id_provider = ad
fallback_homedir = /home/%u
ad_domain = {{ sssd_ad_realm }}
use_fully_qualified_names = False
ldap_id_mapping = {{ sssd_ldap_id_mapping }}
access_provider = ad

{% if sssd_ldap_user_name %}
sssd_ldap_user_name_uid=uid
{% else %}

